<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">


  </head>

  <body>

<a href="/user/index">List</a>
        <h2>Person #<%=user.login %> Update form</h2>
        <form action="/user/update/<%=user.id %>" method="POST">
        <table>
        
        <tr><td>Login<td><input type="text" name="User[login]" value="<%=user.login %>"><br/>
        <tr ><td><td><input type="submit" value="SAVE">
        </form>