<a href="/user/create">+Create</a>|<a href="/user/index">List</a>|<a href="/user/update/<%= model.id %>">Update</a>

          <h2>View <%=model.login%></h2>
          <ul>
        <li>Name:<%=model.login %></li>
        <li>Age:<%=model.firstname %></li>
          </ul>