
<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">


  </head>

  <body>
  
<a href="/user/create">+Create</a>|<a href="/user/index">List</a>|<a href="/user/update/<%= model.id %>">Update</a>

          <h2>View <%=model.login%></h2>
          <ul>
        <li>Name:<%=model.login %></li>
        <li>Age:<%=model.firstname %></li>
          </ul>