<ion-view view-title="Need help" >

  <ion-content ng-controller="AccountCtrl">
<div class="list">

	Your informations:
	<ul>
		<li>{{user.firstname}} {{user.lastname}}
		</li>
		<li>{{vehicle.immatricul.immatricul}}
		</li>
		<li>{{vehicle.geolocalisation.latitude}} || {{vehicle.geolocalisation.longitude}}
		</li>
	</ul>
  <label class="item item-input item-select">
    <div class="input-label">
      Level breakdown
    </div>
    <form id="formAskHelp" ng>
	    <select>
	      <option selected>1</option>
	      <option >2</option>
	      <option>3</option>
	      <option>4</option>
	    </select>
		</form>
  </label>

</div>


<button class="button button-full button-calm" type="submit" ng-click="formAskHelp()" >
  Ask help
</button>


<button class="button button-full button-assertive" ng-controller="DashCtrl" ng-click="deconnection()">
  Disconnect
</button>
  </ion-content>
</ion-view>
