<ion-view view-title="Need help" >

  <ion-content ng-controller="AccountCtrl">
<div class="list">

	Your informations:
	<ul>
		<li>{{user.firstname}} {{user.lastname}}
		</li>
		<li>{{vehicle.immatricul.immatricul}}
		</li>
		<li>{{vehicle.geolocalisation.latitude}} || {{vehicle.geolocalisation.longitude}}
		</li>
	</ul>
  <label class="item item-input item-select">
    <div class="input-label">
      Level breakdown
    </div>
    <form id="formAskHelp">
	    <select ng-model="fah.levelBreakdownId "  >
	      <option ng-repeat="l in getlvlBreakdown" value="{{l.id}}">{{l.levelBreakdown}}</option>
	    </select>
		</form>
  </label>

</div>


<button class="button button-full button-calm" type="submit" ng-click="formAskHelp(fah)" >
  Ask help
</button>


<button class="button button-full button-assertive" ng-controller="DashCtrl" ng-click="deconnection()">
  Disconnect
</button>
  </ion-content>
</ion-view>
